<nav style="background: linear-gradient(90deg, #1B8AF1, #873eed);">
    <div class=" text-white flex items-center justify-between py-3" ">
    <h1 class=" text-2xl px-3 mx-3"><a href="/">Welcome to Hostelia</a></h1>
        <div class="flex text-xl">
            <ul class="flex px-10 items-center space-x-5">
                <li class=""><a href="/">Home</a> </li>
                <li class=""><a href="/about">About</a></li>
                <li class=""><a href="/contact">Contact</a></li>
                <li class=""><a href="/services">Services</a></li>
            </ul>
            <a href="/login"><span class="py-1 px-2 border border-white mx-10 hover:bg-purple-900 rounded-md">Log
                    In</span></a>
        </div>
    </div>
</nav>