<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div class="h-40" style="background: linear-gradient(90deg, #1B8AF1, #873eed);">
            <h1 class="block text-4xl pt-9 text-center text-white font-bold">ABOUT US</h1>
        </div>
</body>

</html>