<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
</head>

<body class="bg-[#E8E9ED] w-screen h-auto overflow-x-hidden">
    <%- include('partials/navbar.ejs') %>

        <div class="h-[200px] absolute w-screen top-[56px] z-[-1]"
            style="background: linear-gradient(90deg, #1b8af1, #873eed)">
            <h1 class="block text-4xl pt-9 text-center text-white font-bold">
                CONTACT US
            </h1>
        </div>
        <div class="grid grid-cols-3 gap-32 mx-52 mt-32 mb-32 *:rounded-3xl *:shadow-lg">
            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>

            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>

            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>

            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>

            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>

            <div class="bg-white min-h-[320px] flex flex-col items-center justify-center text-center font-[Poppins]">
                <img class="rounded-full w-20" src="/images/profile1.jpg" alt="failed to load" />
                <h1 class="text-xl font-semibold leading-5 mt-4">V. Venkat Ramesh</h1>
                <h2 class="text-[14px] font-normal text-gray-400">Warden</h2>
                <p class="mt-8 font-light">
                    <img class="inline-block mr-2" src="images/email.svg" alt="failed" />venkatramesh@iiits.in /
                </p>
                <p class="font-light">
                    <img class="inline-block mr-2" src="/images/call.svg" alt="failed" />+91-6879576930
                </p>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
</body>

</html>