<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body style="background: linear-gradient(135deg, #1B8AF1, #B58DED);">
    <div class="main w-full h-screen flex justify-center items-center text-center ">
        <div class="bg-white w-1/4 h-4/5 p-8 shadow-2xl flex flex-col items-center gap-4 rounded-3xl" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <h1 class="font-bold text-3xl mt-4 mb-8">Login</h1>
            <form action="" method="post" class=" flex flex-col items-center justify-center w-11/12" >
                <input class="w-full py-4 mb-6 rounded-full px-6  mt-0 text-xl" type="email" name="" id="" placeholder="email address" style="box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);">
                <input class="w-full py-4 mb-6 rounded-full px-6  text-xl" type="password" name="" id="" placeholder="password" style="box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);">
                <button class="text-white text-2xl py-3 mb-auto px-9 rounded-full mt-6" type="submit" style="background: #B58DED; box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);">LOGIN</button>
            </form>
            <a href="/signup" class="mt-auto px-6 text-lg" style="color: #176dbe;;">Sign Up</a>
        </div>
    </div>
</body>
</html> 